body {
    font-family: verdana, arial;
    padding: 0.5em 4em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding: 4px;
}

ul#todoList li.check {
    text-decoration: line-through;
}